@charset "utf-8";
.wrapper
{
    display: grid;
    grid-template-columns: 3;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}
.name
{
    grid-column: auto;
    grid-row: 1/2;
    background-color: #F4BF96;
    color: #CE5A67;
    text-align: center;
    font-size: 80px;
}