@charset "utf-8";
html, body{
    box-sizing: border-box;
    height:100%; 
    margin:0px;
}
.wrapper{
    display:grid;
    grid-template-areas:"h h h "
                        "h h h "
                        "j j j"
                        "j j j"
                        "j j j"
                        "k k l"
                        "m m m";
    
    box-sizing: border-box;
    min-height:100%; 
    /*Center a Box element*/
    width: 1920px;
    position:relative;
    margin:0 auto 0 auto;
}


@font-face {
    font-family: Jolly Lodger;
    src: url(Fonts/JollyLodger-Regular.ttf);
}
@font-face {
    font-family: Jua;
    src: url(Fonts/Jua-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*
{
    background-color: black;
}
h1
{
    grid-area: h;
    background-color: #F4BF96;
    color: #CE5A67;
    text-align: center;
    font-size: 80px;
    font-family: Jolly Lodger;
    margin: 0;
    margin-bottom: 10px;
}
h2
{
    background-color: #F4BF96;
    color: #CE5A67;
    font-size: 48px;
    text-align: center;
    font-family: Jua;
    margin: 0;
}

.bioBody
{
    grid-area: j;
    background-color: #FCF5ED;
    color: black;
    font-family: Inter;
    font-size: 24px;
}
p
{
    background-color: #FCF5ED;
    padding-left:50px;
    padding-right:50px;
    margin-bottom: 10px;

}
.hobbies
{
    grid-area: k;
    background-image: url(Photos/2018-CWL-Championship.webp);
}
.schools
{
    grid-area: l;
    font-size: 24px;
    font-family: Inter;
    margin:0px;

}
.footer
{
    grid-area: m;
    color:#CE5A67;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}
h3
{
    background-color:#1F1717BF ;
    color: #CE5A67;
    font-size: 24px;
    font-family: Inter;
    margin:0px;

}
h4
{
    background-color:#1F1717BF ;
    color: #CE5A67;
    opacity: 75%;
    font-size: 24px;
    font-family: Inter;
    margin:0px;

}
ul, li{
    background-color: #FCF5ED;
    opacity: 75%;
    font-family: Inter;
    font-size: 24px;
    margin:0px;

}
ol, li{
    background-color: #FCF5ED;
    font-family: Inter;
    font-size: 24px;
    margin:0px;

}
